Source: fribidi
Section: core
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
Build-Depends: debhelper (>> 5.0.22), pkg-config
XCS-Cross-Host-Build-Depends: debhelper (>> 5.0.22), pkg-config
XCS-Cross-Build-Depends:
Standards-Version: 3.7.3
Homepage: http://www.fribidi.org/

Package: libfribidi0
Architecture: any
Depends: ${shlibs:Depends}
Description: Free Implementation of the Unicode BiDi algorithm
 FriBiDi is a BiDi algorithm implementation for Hebrew and/or Arabic
 languages.

Package: libfribidi-bin
Architecture: any
Depends: ${shlibs:Depends}
Description: Free Implementation of the Unicode BiDi algorithm
 Command line interface for the fribidi library. 

Package: libfribidi-dev
Architecture: any
Section: libdevel
Depends: libfribidi0 (= ${binary:Version})
Description: Development files for FreeBidi library
 This package contains the header files and static libraries for the
 FriBidi C library.

#Package: libfribidi0-udeb
#XC-Package-Type: udeb
#Architecture: any
#Section: debian-installer
#Priority: extra
#Depends: ${shlibs:Depends}
#Description: Free Implementation of the Unicode BiDi algorithm
# This Debian Installer component provided Bidirectional support 
# for Arabic and/or Hebrew languages.

